<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx ="http://schemas.microsoft.com/wix/NetFxExtension">
  <!--<Bundle Version="1.0" UpgradeCode="628253D9-F5FE-4197-B941-D8CBD31D0C3C">
    <PayloadGroup Id="NetFx452RedistPayload">
      <Payload Name="redist\NDP452-KB2901907-x86-x64-AllOS-ENU.exe"
               SourceFile="X:\path\to\redists\in\repo\NDP452-KB2901907-x86-x64-AllOS-ENU.exe"/>
    </PayloadGroup>
    <Chain>
      <PackageGroupRef Id="NetFx45Web"/>
      <MsiPackage Id="MyApplication" SourceFile="$(var.MyApplicationSetup.TargetPath)"/>
    </Chain>
  </Bundle>-->

  <Product Id="3AA0F795-C513-43A5-8E66-D442BD2290CB" Name="Image Viewer" Language="1033" Version="1.0.0.0" Manufacturer="Evgenii Nechyai" UpgradeCode="C3859452-7A28-4ACD-8618-A3B248DB1550">
    <Package InstallerVersion="200" Compressed="yes"  InstallScope="perMachine" />

    <PropertyRef Id = "NETFRAMEWORK45" />

    <Condition Message="This application requires .NET Framework 4.5. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK45]]>
    </Condition>


    <Media Id="1" Cabinet="demo.cab" EmbedCab="yes"></Media>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Image Viewer" />
      </Directory>

      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="Image Viewer" />
      </Directory>

      <Directory Id="DesktopFolder" Name="Desktop"/>
    </Directory>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="MainExecutable" Guid="F2432856-19D6-4DE1-A769-1221C9824367">
        <File Id="DemoApplicationExe" Name="$(var.Image Viewer.TargetFileName)" Source="$(var.Image Viewer.TargetPath)" DiskId="1" KeyPath="yes" >
          <Shortcut Id="startmenuImageViewer" Directory="ProgramMenuDir" Name="ImageViewer" WorkingDirectory="INSTALLDIR" Icon="ProgramIcon.exe" IconIndex="0" Advertise="yes" />
          <Shortcut Id="desktopImageViewer" Directory="DesktopFolder" Name="ImageViewer" WorkingDirectory="INSTALLDIR" Icon="ProgramIcon.exe" IconIndex="0" Advertise="yes" />
        </File>
      </Component>


      <Component Id="MainExecutableConfig" Guid="69729B46-B598-410B-8BA2-59E509696C1E">
        <File Id="ImageViewerExeConfig" Name="Image Viewer.exe.config" Source="$(var.Image Viewer.TargetDir)" DiskId="1" KeyPath="yes"></File>
      </Component>

      <Component Id="MainExecutablePdb" Guid="CDE21296-0B32-4B86-9A9C-12322F35F56F">
        <File Id="ImageViewerPdb" Name="Image Viewer.pdb" Source="$(var.Image Viewer.TargetDir)"></File>
      </Component>
    </DirectoryRef>

    <Icon Id="ProgramIcon.exe" SourceFile="$(var.Image Viewer.TargetPath)"/>

    <DirectoryRef Id="ProgramMenuDir">
      <Component Id="ProgramMenuDir" Guid="13D21414-B860-4CA0-83DC-970CB578ED75">
        <Shortcut Id="UninstallProduct" Name="Delete" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" Description="Delete"></Shortcut>
        <RemoveFolder Id="ProgramMenuDir" On="uninstall"></RemoveFolder>
        <RegistryValue Root="HKCU" Key="Software\[Menufacturer]\[ProductName]" Type="string" Value="" KeyPath="yes"> </RegistryValue>
      </Component>


    </DirectoryRef>


    <Feature Id="Complete" Title="ImageViewer" Description="full installation" Display="expand" Level="1" ConfigurableDirectory="INSTALLFOLDER" AllowAdvertise="no"  Absent="disallow">
      <Feature Id="RComponents" Title="Necessary Components" Description="necessary components for work" Level="1" AllowAdvertise="no" Absent="disallow" InstallDefault="local">
        <ComponentRef Id="MainExecutable"/>
        <ComponentRef Id="MainExecutableConfig"/>
        <ComponentRef Id="ProgramMenuDir"/>
      </Feature>
      <Feature Id="ExecutableSybols" Title="debugging symbols" Description="1" Level="2" Absent="allow" InstallDefault="followParent">
        <ComponentRef Id="MainExecutablePdb"/>
      </Feature>

    </Feature>

    <!--<Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION"></Property>
    <UIRef Id="WixUI_InstallDir"/>-->

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_InstallDir" />

    <!--<UI Id="MyWixUI_Mondo">
      <UIRef Id="WixUI_Mondo"/>
      <UIRef Id="WixUI_ErrorProgressText"/>
    </UI>
    <WixVariable Id="WixUILicenseRtf" Overridable="yes" Value="License.rtf"/>
    <WixVariable Id="WixUIBannerBmp" Value="73411112.bmp"/>
    <WixVariable Id="WixUIDialogBmp" Value="1.bmp"/>-->



  </Product>


</Wix>
